h1{
    font-size: 50px;
    font-family: cursive;
    color: blue;
    padding: 30px;
    text-decoration: underline;
    border: 20px;
    border-radius: 20px;
    background-color: lime;
    text-align: center;
}
p{
    padding: 30px;
    border: 20px;
    border-radius: 25px;
    font-size: 30px;
    font-family: "DejaVu Sans";
    background-color: lavender;
}
.mid-div{
    text-align: center;
    max-width: 1000px;
    padding: 40px;
    margin: auto;
    height: 1000px;
}
.carousel-inner{
   text-align: center;
    max-width: 1000px;
    margin: auto;
    heigth: 1000px;
    object-fit: cover;
}
img{
   max-width: 1000px;
    margin: auto;
    heigth: 1000px;
    object-fit: cover;
}
